html {
    line-height: 1.15;
    background: url(chess.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    text-align: center;
}

header {
    opacity: .85;
    background: white;
    margin-bottom: 9%;
    padding-bottom: 2%;
    width: 65%;
    display: inline-block;
    position: sticky;
    top: 45px;
    border-radius: 25px;
}

#mainsection {
    opacity: .85;
    background: white;
    border-radius: 25px;
    width: 65%;
    display: inline-block;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    text-align: left;
    margin-left: 20%;
}

#Question {
    padding-bottom: 5%;
}

#score {
    padding-top: 5%;
}

#restartbutton {
    margin-top: 5%;
}


/*Media queries

/** Photo details:


/* photo details of chess picture:
https://unsplash.com/photos/oVWilf8znF8?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
**/