html {
    line-height: 1.15;
}

body {
    text-align: center;
    background-image: url("chess.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

header {
    opacity: .85;
    background: white;
    margin-bottom: 9%;
    padding-bottom: 2%;
    width: 65%;
    display: inline-block;
    position: sticky;
    top: 45px;
    border-radius: 25px;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    text-align: left;
    margin-left: 20%;
}

#Question {
    padding-bottom: 5%;
}

#score {
    padding-top: 5%;
}

#restartbutton {
    margin-top: 5%;
}


/*Media queries*/

@media (min-width: 700px) {
    body {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    /*
  * A grid can do this math for you!
  */
    .box {
        width: 29.33%;
        float: left;
        margin-right: 6%;
    }
    /*
   * targeting every third '.box' to add a right margin
   */
    .box:nth-child(3n+3) {
        margin-right: 0;
    }
}


/*
 * clearfix hack 
 * https://css-tricks.com/snippets/css/clear-fix/
 */

.group:after {
    content: "";
    display: table;
    clear: both;
}


/** Photo details:
Photo by <a href="https://unsplash.com/@kmitchhodge?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">K. Mitch Hodge</a> on <a href="https://unsplash.com/s/photos/game-of-thrones?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
**/


/* photo details of chess picture:
https://unsplash.com/photos/oVWilf8znF8?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
**/